<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="100000000" />
			</requestFiltering>
		</security>
		<directoryBrowse enabled="true" />
		<caching>
			<profiles>
				<add extension=".php" policy="DisableCache" kernelCachePolicy="DisableCache" />
				<add extension=".html" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="14:00:00:00" />
			</profiles>
		</caching>
		<rewrite>
			<rules>
				<rule name="SiteManager Rule Default Images" stopProcessing="true">
					<match url="^img(.*)" ignoreCase="true" />
					<action type="Rewrite" url="/html/img{R:1}" appendQueryString="true" />
				</rule>
				<rule name="SiteManager Rule Default CSS" stopProcessing="true">
					<match url="^css(.*)" ignoreCase="true" />
					<action type="Rewrite" url="/html/css{R:1}" appendQueryString="true" />
				</rule>
				<rule name="SiteManager Rule Default JS" stopProcessing="true">
					<match url="^js(.*)" ignoreCase="true" />
					<action type="Rewrite" url="/html/js{R:1}" appendQueryString="true" />
				</rule>
				<rule name="SiteManager Rule Engine Default" stopProcessing="true">
					<match url="^$" ignoreCase="true" />
					<action type="Rewrite" url="/engine.php" appendQueryString="true" />
				</rule>
				<rule name="SiteManager Rule Engine with Contidions" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="true" />
					<conditions>
						<add input="{REQUEST_URI}" pattern="^/engine.php.*" ignoreCase="true" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/template/img.*" ignoreCase="true" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/template/css.*" ignoreCase="true" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/template/js.*" ignoreCase="true" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/favicon.ico*" ignoreCase="true" negate="true" />
					</conditions>
					<action type="Rewrite" url="/engine.php/{R}" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
